<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let usuario of usuarios">
    <div class="card h-100">
      <img [src]="usuario.avatar" class="card-img-top" [alt]="usuario.first_name">
      <div class="card-body">
        <h5 class="card-title">{{usuario.first_name}} {{usuario.last_name}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">
          ID: {{usuario.id}}<br>
        </p>
      </div>
    </div>
  </div>
</div>
